[Unit]
Description=Push Notifier for Sleep Monitor App
After=network.target

[Service]
ExecStart=/usr/bin/nodejs index.js
WorkingDirectory=/home/pi/code/sleep-monitor-push-notifier
StandardOutput=inherit
StandardError=inherit
Restart=no
User=pi

[Install]
WantedBy=multi-user.target
