[Unit]
Description=Push Notifier for Sleep Monitor App
After=network.target

[Service]
ExecStart=${PWD}/env/bin/node index.js
WorkingDirectory=${PWD}
StandardOutput=inherit
StandardError=inherit
Restart=no
User=pi

[Install]
WantedBy=multi-user.target
